<h2>Table</h2>
<table>
  <tr *ngFor = 'let data of tableData'>
    <td class = 'text' appResizeTable resizeTable = 'true'>
      <div class = 'textDiv noselect'>
        {{data.column1}}
      </div>
    </td>
    <td class = 'text' appResizeTable resizeTable = 'true'>
      <div class = 'textDiv noselect'>
        {{data.column2}}
      </div>
    </td>
    <td class = 'text' appResizeTable resizeTable = 'true'>
      <div class = 'textDiv noselect'>
        {{data.column3}}
      </div>
    </td>
    <td class = 'text' appResizeTable resizeTable = 'true'>
      <div class = 'textDiv noselect'>
        {{data.column4}}
      </div>
    </td>
    <td class = 'text' appResizeTable resizeTable = 'true'>
      <div class = 'textDiv noselect'>
        {{data.column5}}
      </div>
    </td>
  </tr>
</table>

